@import "../../variables";

.container.glow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  width: 60vw;

  .glow__img {
    width: 25rem;
  }

  .glow__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .glow__title {
      font-size: 2.3rem;
      font-weight: 300;
      color: $white;
      margin-bottom: 0.71rem;
    }

    .glow__text {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 2rem;
        margin-right: 1rem;
      }
    }
  }
}

// MEDIA QUERIES FOR RESPONSIVE DESIGN

// LARGE DESKTOP
@media screen and (max-width: 1280px) {
  .container.glow {
    justify-content: space-around;
    width: $Tablet;
  }
}

// TABLET DESKTOP
@media screen and (max-width: 900px) {
  .container.glow {
    flex-direction: column;
    gap: 3rem;;
  }
}


