@import '../../variables';

.container.products {
    margin-top: 5rem;
    height: auto;

    .products__header {
        color: $white;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }

    .products__box {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 2.5rem;

        .products__product {
            text-align: center;
            color: $white;
            font-weight: 400;

            .products__image {
                img {
                    width: 70%;
                    height: 70%;
                    transition: $TransitionSpeed;

                    &:hover {
                        box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.15);
                        transform: scale(1.05);
                    }
                }
            }

            .products__info {
                .products__name {
                    margin-top: 0.5rem;
                    font-size: 1.3rem;
                    font-weight: 400;
                }
                .products__price {
                    font-size: 0.95rem;
                }
            }
        }
    }

    .mobile__product {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 4rem;

        .product__product {
            color: $white;
            font-weight: 400;

            .products__image {
                img {
                    width: 15rem;
                    height: 15rem;
                }
            }
        }
    }
}