@import "../../variables";

.container.hero {
  height: 75vh;
  width: 100%;
  background: black;

  .hero__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $Desktop;
    height: 100%;
    margin: 0 auto;

    .hero__words {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 40%;

      .hero__header {
        font-size: 2.5rem;
        font-weight: 500;
        color: $peachlight;

        span {
          display: block;
        }
      }

      .hero__text {
        font-size: 1.1rem;
        font-weight: 300;
        color: $peachdark;

        span {
          display: block;
        }
      }

      .hero__buttons {
        .hero__button {
          background: #f8c99f;
          color: black;
          width: 13rem;
          text-align: center;
          border-radius: 0.5rem;
          padding: 0.5rem 1rem;
          font-weight: 600;
          margin-right: 1rem;
          transition: $TransitionSpeed;

          &:hover {
            background: $white;
            color: $peachdark;
          }
        }

        .two {
          display: none;
        }
      }
    }

    .hero__image {
      width: 60%;
      align-self: flex-end;
      margin-left: -2.8rem;
    }
  }
}

// MEDIA QUERIES FOR RESPONSIVE DESIGN

// LARGE DESKTOP
@media screen and (max-width: 1280px) {
  .container.hero {
    .hero__content {
      width: $Tablet;

      .hero__words {
        width: 50%;

        .hero__header {
          font-size: 2rem;
        }

        .hero__text {
          font-size: 1rem;
        }

        .hero__button {
          font-size: 0.9rem;
          padding: 0.4rem 0.4rem;
        }
      }

      .hero__image {
        height: 24rem;
      }
    }
  }
}

// MEDIUM SCREEN
@media screen and (max-width: 1024px) {
  .container.hero {
    height: 55vh;

    .hero__content {
      .hero__words {
        width: 40%;

        .hero__header {
          font-size: 1.8rem;
        }

        .hero__text {
          font-size: 0.8rem;
        }

        .hero__button {
          font-size: 0.8rem;
          width: 9rem;
          padding: 0.4rem 0.4rem;
        }
      }

      .hero__image {
        width: 60%;
        height: auto;
        margin-left: -2rem;
      }
    }
  }
}

// TABLET SCREEN
@media screen and (max-width: 900px) {
  .container.hero {
    height: auto;
    padding-top: 2rem;

    .hero__content {
      flex-direction: column;

      .hero__words {
        width: 70%;
        align-self: flex-start;
        gap: 1rem;

        .hero__header {
          font-size: 1.6rem;
          width: 19rem;

          span {
            display: inline;
          }
        }

        .hero__text {
          font-size: 0.9rem;
          margin-bottom: 1.9rem;

          span {
            display: inline;
          }
        }

        .hero__buttons {
          .hero__button {
            width: 11rem;
            padding: 0.5rem 0.5rem;
          }

          .two {
            display: inline;
          }
        }
      }

      .hero__image {
        width: 60%;
        width: 30rem;
        height: 15rem;
        margin-bottom: 0;
      }
    }
  }
}

// MOBILE SCREEN
@media screen and (max-width: 600px) {
  .container.hero {
    height: auto;
    padding-top: 1rem;

    .hero__content {
      .hero__words {
        width: 80%;

        .hero__header {
          font-size: 1.3rem;
        }

        .hero__text {
          font-size: 0.8rem;
        }
      }

      .hero__image {
        width: 80%;
        height: 10rem;
      }
    }
  }
}
