@import "../../variables";

.container.toner {
  .toner__header {
    text-align: center;
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .toner__content {
    display: flex;
    justify-content: center;
    align-items: center;

    .toner__words {
      display: flex;
      flex-direction: column;
      gap: 6.5rem;
      font-weight: 300;
      font-size: 0.9rem;

      span {
        display: block;
      }
    }

    .toner__image {
      display: flex;
      justify-content: center;
      align-items: center;

      .toneI {
        width: auto;
        height: 19rem;
      }

      .toneImg {
        width: 23rem;
        height: 25rem;
      }
    }
  }
}
// MEDIA QUERIES FOR RESPONSIVE DESIGN

// MEDIUM SCREEN
@media screen and (max-width: 1024px) {
  .container.toner {
    .toner__header {
      font-size: 2rem;
    }

    .toner__content {
      .toner__words {
        font-size: 0.8rem;
        gap: 5.9rem;
      }

      .toner__image {
        .toneI {
          height: 17rem;
        }

        .toneImg {
          width: 20rem;
          height: 22rem;
        }
      }
    }
  }
}

// TABLET SCREEN
@media screen and (max-width: 900px) {
  .container.toner {
    .toner__header {
      font-size: 2rem;
    }

    .toner__content {
      .toner__words {
        font-size: 0.8rem;
        gap: 4.8rem;
      }

      .wordone {
        display: none;
      }

      .toner__image {
        .toneI {
          height: 15rem;
        }

        .one {
          display: none;
        }
        .toneImg {
          width: 17rem;
          height: 21rem;
        }
      }
    }
  }
}

// MOBILE SCREEN
@media screen and (max-width: 600px) {
  .container.toner {
    .toner__header {
      font-size: 1.7rem;
    }

    .toner__content {
      .toner__words {
        font-size: 0.8rem;
        gap: 1.8rem;
      }

      .toner__image {
        .toneI {
          height: 10rem;
        }

        .one {
          display: none;
        }
        .toneImg {
          width: 12rem;
          height: 16em;
        }
      }
    }
  }
}
