@import '../../variables';

.container.skin {
    margin-top: 5rem;

    .skin__header {
        text-align: center;
        margin-bottom: 2rem;

        h1 {
            font-weight: 400;
            font-size: 2.2rem;
        }
    }

    .skin__reel {
        display: flex;
        justify-content: space-between;
    }

    .skin__reelmobile {
        display: none;
    }

}
// MEDIA QUERIES FOR RESPONSIVE DESIGN

// LARGE DESKTOP
@media screen and (max-width: 1280px) {
    .container.skin {
        width: $Tablet;
        margin-top: 14rem;
    }
}

// MEDIUM SCREEN
@media screen and (max-width: 1024px) {
    .container.skin {
        margin-top: 1rem;
    
        .skin__header {
    
            h1 {
                font-size: 2rem;
            }
        }
    
        .skin__reel {
            .skins {
                width: 10rem;
            }
        }

    }
}

// MEDIUM SCREEN
@media screen and (max-width: 1024px) {
    .container.skin {
        margin-top: 4rem;
    
        .skin__header {
    
            h1 {
                font-size: 1.7rem;
            }
        }
    
        .skin__reel {
            .skins {
                width: 8rem;
            }
        }

    }
}

// MOBILE SCREEN
@media screen and (max-width: 700px) {
    .container.skin {
        margin-top: 4rem;
    
        .skin__header {
    
            h1 {
                font-size: 1.7rem;
            }
        }
    
        .skin__reel {
            display: none;
        }

        .skin__reelmobile {
            display: flex;

            .skins {
                width: 6.7rem;
            }
        }

    }
}

