// Font variables
$Poppins: 'Poppins', sans-serif;
$Romanesco: 'Romanesco', cursive;

// Color variables
$BackgroundColor: #494A4C;
$white: #FFFFFF;
$peachdark: #F4C69C;
$peachlight: #F5C79D;

// Transition speeds
$TransitionSpeed: all 400ms ease;

// Responsive widths
$Mobile: 100vw;
$Tablet: 90vw;
$Desktop: 80vw;