@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Romanesco&display=swap');

@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $peachdark;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #030303;
  }

body {
    font-family: $Poppins;
    font-size: 16px;
    line-height: 1.5;
    color: $white;
    background-color: $BackgroundColor;
    overflow-x: hidden;
}

.container {
    width: $Desktop;
    margin: 0 auto;
}

// section {
//     height: 100vh;
// }

button {
    width: 10rem;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    background-color: $peachlight;
    font-weight: 600;
    font-size: 1rem;
    font-family: $Poppins;
    transition: $TransitionSpeed;

    &:hover {
        background-color: $peachdark;
    }
}

// MEDIA QUERIES FOR RESPONSIVE DESIGN

// LARGE DESKTOP
@media screen and (max-width: 1280px) {
    .container {
        width: $Tablet;
    }
}